{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Server=<STG_DB_HOST>;Port=3306;Database=esocial_stg;User=<STG_DB_USER>;Password=<STG_DB_PASS>;"
  },
  "ESocial": {
    "Ambiente": 2,
    "Certificado": {
      "CaminhoArquivoPfx": "/run/secrets/esocial-stg.pfx",
      "SenhaPfx": "<STG_CERT_PASS>"
    },
    "SchemasPath": "/app/schemas/2025-04-22/01_03_00"
  }
}
