{
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Error",
      "Microsoft.EntityFrameworkCore": "Error"
    }
  },
  "ConnectionStrings": {
    "Default": "Server=<PROD_DB_HOST>;Port=3306;Database=esocial_prod;User=<PROD_DB_USER>;Password=<PROD_DB_PASS>;"
  },
  "ESocial": {
    "Ambiente": 1,
    "Certificado": {
      "CaminhoArquivoPfx": "/Users/mmg/Downloads/INSTITUTO_ADVENTISTA_DE_ENSINO_43586056000182_2025_1.pfx",
      "SenhaPfx": "029826"
    },
    "WebService": {
      "BaseUrl": "",
      "BaseUrlHomologacao": "",
      "BaseUrlProducao": ""
    },
    "SchemasPath": "/app/schemas/2025-04-22/01_03_00"
  }
}
