{
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Error",
      "Microsoft.EntityFrameworkCore": "Error"
    }
  },
  "ConnectionStrings": {
    "Default": "Server=<PROD_DB_HOST>;Port=3306;Database=esocial_prod;User=<PROD_DB_USER>;Password=<PROD_DB_PASS>;"
  },
  "ESocial": {
    "Ambiente": 1,
    "Certificado": {
      "CaminhoArquivoPfx": "/run/secrets/esocial-prod.pfx",
      "SenhaPfx": "<PROD_CERT_PASS>"
    },
    "SchemasPath": "/app/schemas/2025-04-22/01_03_00"
  }
}
